// bower:scss
@import "bower_components/materialize/sass/materialize.scss";
// endbower

body {
  background-color: color("grey", "lighten-3");
}

.comprobante-card h1 {
  @extend .card-title;
  margin-top: 0;
  width: 100%;
  font-size: $h5-fontsize;
  text-align: center;
}

.file-field {
  margin: 0;

  h3 {
    @extend label;
    margin: 1rem 0;
  }

  .btn-flat {
    background-color: color("grey", "lighten-2");
    float: left;
    height: $input-height;
    line-height: $input-height;
    font-size: $input-font-size;
  }
}
