@import "bower_components/materialize/sass/components/color";

$roboto-font-path: "../fonts/";
$tabs-underline-color: color("teal", "lighten-1");
$tabs-text-color: color("teal", "darken-1");

// bower:scss
@import "bower_components/materialize/sass/materialize.scss";
// endbower

body {
  background-color: color("grey", "lighten-3");
}

nav {
  color: inherit;
  background-color: color("shades", "white");
  height: auto;
  line-height: normal;
}

.row {
  margin-bottom: .8rem;
}

.full-width {
  display: block;
  width: 100%;
}

.comprobante-card h1 {
  @extend .card-title;
  margin-top: 0;
  width: 100%;
  font-size: $h5-fontsize;
  text-align: center;
}

.file-field {
  margin: 0;

  h3 {
    @extend label;
    margin: 0 0 1rem;
  }

  .btn-flat {
    background-color: color("grey", "lighten-2");
    float: left;
    padding: 0 1rem;
    font-size: $input-font-size;
    text-transform: none;
  }

  .file-path {
    height: $button-height;
  }
}

[type="submit"] {
  margin: 1rem 0;
}

